#menuicon{
    display: none;
}
#menu-display{
    display: block;
   }
#link{
    text-decoration: none;
    color: white;
}
@media screen and (max-width: 700px) {
   #menuicon{
    display: block;
   }
   #menu-display{
    display: none;
   }
   #link{
    text-decoration: none;
    color: black;
   }
   #switch{
    margin-left: 200px;
   }
   Link{
    text-decoration: none;
   }
  }